<%- include("../partials/headeradmin.ejs");  %>

<form class="" action="/admin/editplainnotice" method="post">
  <button type="submit" name="button" class="btn btn-success">Post A Simple Text</button>
</form>
<br>
<br>
<form class="" action="/admin/editpdfnotice" method="post">
  <button type="submit" name="button" class="btn btn-success">Post a PDF</button>
</form>

<%- include("../partials/footeradmin.ejs");  %>
