<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body style="height:100vh; background: url(../images/nature.jpeg); background-size:cover;">
    <div class="loginBox">
      <img src="../images/admin.png" class="adminimg" alt="">
      <h2>Log In</h2>
      <form class="" action="/admin/login" method="post">
        <p>Email</p>
        <input type="email" name="email"  placeholder="Enter Email ID">
        <p>Password</p>
        <input type="password" name="password"  placeholder="Enter Password">
        <input type="submit" name="" value="Sign In">
        <a href="#">Forget Password</a>
      </form>
    </div>
</body>

</html>
