<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #c70d3a;">
    <div class="container first-footer">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 footer-text">Get connected with us on social networks!</h6>
        </div>


        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/GEUOfficial/">
            <i class="fab fa-facebook-f white-text mr-4 footer-icon fa-2x facebook" > </i>
            <!-- <i class="fab fa-facebook"></i> -->
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/GEU_Official" >
            <i class="fab fa-twitter white-text mr-4 fa-2x footer-icon twitter"> </i>
          </a>
          <!-- Google +-->
          <a class="youtube-ic" href="https://www.youtube.com/GraphicEraOfficial">
            <i class="fab fa-youtube white-text mr-4 fa-2x footer-icon youtube" ></i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/graphic-era?trk=biz-companies-cym">
            <i class="fab fa-linkedin-in white-text mr-4 fa-2x footer-icon linkedin" > </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/geuofficial/">
            <i class="fab fa-instagram white-text fa-2x footer-icon instagram" > </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
  <!-- Footer Links -->
  <div class="footer">

    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row  ">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Graphic Era</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Graphic Era offers various courses out of computer science courses are handled by Department of
            Computer Science Engineering.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Courses</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="courses-link" href="https://www.geu.ac.in/content/geu/en/academics/engineering/computer-science-and-engineering/courses-offered.html">B.Tech CSE</a>
          </p>
          <p>
            <a class="courses-link" href="https://www.geu.ac.in/content/geu/en/academics/computer-application/courses-offered.html">B.Tech IT</a>
          </p>
          <p>
            <a class="courses-link" href="https://www.geu.ac.in/content/geu/en/academics/computer-application/courses-offered.html">BCA</a>
          </p>
          <p>
            <a class="courses-link" href="https://www.geu.ac.in/content/geu/en/academics/computer-application/courses-offered.html">MCA</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="useful-link"  href="/visionandmission">Vision and Mission</a>
          </p>
          <p>
            <a class="useful-link" href="/disclaimer">Disclaimer</a>
          </p>
          <p>
            <a class="useful-link" href="#!">Graphic Era Official</a>
          </p>
          <p>
            <a class="useful-link" href="#!">Contact Us</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> 566/6, Bell Road, Society Area, Clement Town, Dehradun, Uttarakhand 248002</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> devesh.geu@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +91-135-2643421-288</p>
          <p>
            <i class="fas fa-print mr-3"></i> +91-1800 270 1280</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    Copyright &copy;<script>
      document.write(new Date().getFullYear());
    </script> All rights reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

</html>
