<%- include("partials/header"); -%>
<section class="contact">
  <h1 class="h1Contact">CONTACT US</h1>
  <hr>
  <div class="">


    <div class="Contact_Box">
      <form class="" action="index.html" method="post">
        <input class="Name" type="text" name="" value="" placeholder="NAME" autocomplete="off">
        <br>
        <input class="Email_id" type="email" name="Login_id" value="" placeholder="EMAIL ID">
        <br>
        <textarea name="name" class="Message" rows="6" autocomplete="off" placeholder="Write your Message here.."></textarea>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
      </form>
    </div>

    <div class="Contact_Box">
      <h4>Dr. Devesh Pratap Singh</h4>
      <h5>
        Department of Computer Science and Engineering
        Head of Department
        <br>
        Email: devesh.geu@gmail.com
        <br>
        Ph: +91-135-2643421-288
      </h5>

    </div>
  </div>
</section>



<%- include("partials/footer"); -%>
