<%- include("partials/header"); -%>
<div class="gallerySection">
  <div class="carousel-gallery">


    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100 carousel-image" src="images/The CSIT Block, Graphic Era University _.jpeg" alt="First slide" style="max-width:900; max-height:600px;">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <!-- <h3 class="h3-responsive">Graphic Era CSIT Building</h3> -->
            <p>Graphic Era CSIT Building</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100 carousel-image" src="images/SIGNATURE BUILDING, Graphic Era University, Dehradun_.jpeg" alt="Second slide" style="max-width:900; max-height:600px;">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <!-- <h3 class="h3-responsive">Thir is the second title</h3> -->
            <p>Graphic Era</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100 carousel-image" src="images/graphic-era-library.jpg" alt="Third slide" style="max-width:900; max-height:600px;">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <!-- <h3 class="h3-responsive">This is the third title</h3> -->
            <p>Graphic Era Library</p>
          </div>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>


  <!-- Page Content -->
  <div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Our Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

      <%   imageArray.forEach(function(image){ %>
      <%    let imageLocation = "uploads/" + image.name; %>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src=<%= imageLocation %> alt="" style="max-width:250px; max-height:250px;">
        </a>
      </div>
      <%   }); %>

    </div>

  </div>
  <!-- /.container -->
</div>



<%- include("partials/footer"); -%>
