<%- include("partials/header");  %>


<div class="hero-content">
  <div class="hero-content-overlay">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
            <header class="entry-header">
              <h4>Department of CS-IT</h4>
              <h1>Graphic Era<br />University</h1>
            </header><!-- .entry-header -->

            <div class="entry-content">
              <p>Graphic Era University is one of the Best University in North INDIA. <br /> Transforming Dreams into Reality.</p>
            </div><!-- .entry-content -->
            <img src="images/geu-logo.svg" alt="" class="csit-logo">

            <!-- <footer class="entry-footer read-more">
              <a href="#">read more</a>
            </footer><!-- .entry-footer -->




            <div class="row playstore">
              <div class="col">
                <button type="button" class="btn btn-danger btn-lg andriodbutton"><i class="fab fa-google-play"></i> Download</button>
                <button type="button" class="btn btn-secondary btn-lg applebutton"><i class="fab fa-apple"></i> Download</button>
              </div>
            </div>


          </div><!-- .hero-content-wrap -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .hero-content-hero-content-overlay -->
</div><!-- .hero-content -->





<div class="icon-boxes">
  <div class="container-fluid">
    <div class="flex flex-wrap align-items-stretch">
      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/book-open-solid.svg" alt="">
          <!-- <span class="ti-user"></span> -->
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">SYLLABUS- All Semester</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-tie-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Class Cordinator for Odd-Sem 2019</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/registered-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Registration for Odd-Sem 2019</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-graduate-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">3rd Semester student List</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-clock-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">3rd Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-clock-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">5th Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-clock-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">7th Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-clock-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">M-Tech 1st Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->


      <div class="icon-box last box">
        <div class="icon">
          <img class = "icon-image" src="fonts/user-clock-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">M-Tech 3rd Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->


      <div class="icon-box last-box">
        <div class="icon">
          <img class = "icon-image" src="fonts/university-solid.svg" alt="">
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Open Specilization Course Mapping</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->


      <div class="icon-box">
        <!-- <div class="icon"> -->
          <img id="icon-image1" class = "icon-image" src="fonts/university-solid.svg" alt="">
        <!-- </div> -->

        <header class="entry-header">
          <h2 class="entry-title">Specilization Course Mapping</h2>
        </header>

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div>

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
        </footer>
      </div>


    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .icon-boxes -->

<%- include("partials/footer");  %>
