<%- include("partials/header"); -%>
<div class="container-fluid time_syll_stud_Container">
  <h1>SYLLABUS</h1>

  <h2>SYLLABUS: ALL SEMESTER</h2>
  <div class="icon-boxes">
    <div class="container-fluid">
      <div class="flex flex-wrap align-items-stretch">
        <div class="icon-box">
          <div class="icon">
            <i class="fas fa-book-open"></i>
          </div><!-- .icon -->
          <header class="entry-header">
            <h2 class="entry-title">SYLLABUS- CSE CORE</h2>
          </header><!-- .entry-header -->

          <div class="entry-content">
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div><!-- .entry-content -->

          <footer class="entry-footer read-more">
            <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
          </footer><!-- .entry-footer -->
        </div><!-- .icon-box -->

        <div class="icon-box">
          <div class="icon">
            <i class="fas fa-book-open"></i>
          </div><!-- .icon -->

          <header class="entry-header">
            <h2 class="entry-title">Syllabus CSE Specialisation</h2>
          </header><!-- .entry-header -->

          <div class="entry-content">
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div><!-- .entry-content -->

          <footer class="entry-footer read-more">
            <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
          </footer><!-- .entry-footer -->
        </div><!-- .icon-box -->

        <div class="icon-box">
          <div class="icon">
            <i class="fas fa-book-open"></i>
          </div><!-- .icon -->

          <header class="entry-header">
            <h2 class="entry-title">Syllabus IT</h2>
          </header><!-- .entry-header -->

          <div class="entry-content">
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div><!-- .entry-content -->

          <footer class="entry-footer read-more">
            <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
          </footer><!-- .entry-footer -->
        </div><!-- .icon-box -->
      </div>
    </div>
  </div>
</div>








<%- include("partials/footer"); -%>
