<%- include("partials/header"); -%>
<section class="sec1vision">
  <div class="visioncontent">
    <header class="header">
    <h1>VISION AND MISSION</h1>
    </header>
    <h4>Vision and Mission of the Computer Science and Engineering Department
      <br><br><br>
      Vision
    </h4>
    <p>To impart quality education for producing highly talented globally recognizable technocrats and entrepreneurs with sound ethics, latest knowledge and innovative ideas in Computer Science and Engineering to meet industrial needs and societal
      expectations.
    </p>

    <br>

    <h4>Mission</h4>
      <ul>
        <li>
        <p>
          To impart high standard value based technical education in all aspects of Computer Science and Engineering through state of the art infrastructure and innovative approach.
        </p>
        </li>
        <li>
          <p>
              To produce ethical, motivated and skilled engineers through theoretical knowledge and practical applications.
          </p>
        </li>
        <li>
          <p>
              To impart the ability for tackling simple to complex problems individually as well as in a team.
          </p>
        </li>
        <li>
          <p>
            To develop globally competent engineers with strong foundations, capable of “out of the box” thinking so as to adapt to the rapidly changing scenarios requiring social conscious green computing solutions.
          </p>
        </li>
      </ul>
  </div>


</section>



<%- include("partials/footer"); -%>
