
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  position: relative;
    color: #383749;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: baseline;
}
.gallerySection{
  padding-top: 250px;
}

.EditSection input[type="file"], .EditSection input[type="text"], .EditSection textarea{
margin: 2% 0;
padding: 2% 0;
}
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

/*Admin login*/

.loginBox{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}
.SignUpBox{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 6% 5%;
  width: 70%;
  height: 90%;
  box-sizing: border-box;
  /* background: rgba(0, 0, 0, 0.5); */
}

.loginBox h2, .SignUpBox h2{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: #ff6464;
}
.loginBox p ,.SignUpBox p{
  margin: 0;
  font-weight: bold;
  color: #ff8080;
}
.loginBox input, .SignUpBox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="email"], .loginBox input[type="password"],.SignUpBox input[type="email"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #5edfff;
  font-size: 16px;
}
.loginBox input[type="submit"],.SignUpBox input[type="submit"]{
  border:none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #b2fcff;
  cursor: pointer;
  border-radius: 25px;
}
.loginBox input[type="submit"]:hover, .SignUpBox input[type="submit"]:hover{
  background: #ff6464;
  color:#fff;
}

.loginBox ::placeholder ,.SignUpBox ::placeholder{
  color:#5edfff64;
}
.loginBox a:visited,.loginBox a, .SignUpBox a:visited, .SignUpBox a{
  color: #ff6464;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.loginBox a:hover,.SignUpBox a:hover{
  color: #8186d5;
}

.adminimg{
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top:-50px;
  left: calc(50% - 50px);
}
/*Admin*/

div input[type="file"]{
  width: 60%;
  color: #8186d5;
}
/*Admin Home*/
/* Navbar */



/* Custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}

/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding: 90px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.well{
  padding: 20px 0;
}
.panel{
  padding:30px 0;
}
.panel-title{
  color:#007bff;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:19px;
  margin-top:20px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

/* Admin Home */





/* Contact */
.h1Contact {
  padding: 2%;
  text-align:center;
  font-family: 'Itim', cursive;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 4px;
}
.contact{
  padding:120px 5px 50px;
  display: block;
  text-align: center;
  /* background-image: -webkit-linear-gradient(65deg, #ffeeccc8 30%, #64c4edc8 65%); */
  background-image: linear-gradient(to bottom, #3498dbc8, #9b59b6c8);
}
.Contact_Box{
  padding: 3%
  /* background-color: #ffeeccc8; */

}
.Email_id, .Message, .Name {
  margin: 2% auto;
  border: 4px solid #23374d;
  background: none;
  padding: 1%;
  color: #000;
  outline: none;
  border-radius: 25px;
}
.Message{
  width: 70%;
}
.Contact_Box input[type="text"]:focus,.Contact_Box input[type="text"]:hover,.Contact_Box input[type="email"]:focus,.Contact_Box input[type="email"]:hover{
  transition: 0.2s;
  width: 300px;
}

.Contact_Box button[type="submit"] {
  border-radius: 25px;
}


/* Contact */
.sec1vision{
  background-color: #eeeeee;
}
.visioncontent h1,h4{
  color: #ce2e6c;
}
.visioncontent{
  margin:0 9% 0 11%;
  padding:120px 5px 50px;
}
.visioncontent p{
  font-size: 20px;
  color:#de356a;

}
.header{
  padding-bottom: 1.875%;
}
.disclaimercontent h1{
  color: #ce2e6c;
  padding-bottom: 2%;
}

section.sec1 {
  background-image: -webkit-linear-gradient(65deg, #383749 30%, #E4E9FD 65%);
}

a.nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

#navbarTogglerDemo02 a.nav-link:hover{
  background-color: #e3e7f1;
  color: white;
}

.downloadbuttons{
  padding: 20px;
}
div.downloadbuttons button{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin: 5px;
  padding: 1%;
}
div button.andriodbutton{
  margin-left: -10%;
  background-color: #c70d3a;
}

.andriodbutton:hover{
  background-color: #b22222;
}

.intro .entry-header{
  margin-top: 14%;
}


.home{
  margin-right: 70px;
  padding-left: 30px;
}

.csit-logo{
  width:90%;
  height: 40%;

}

a {
    color: #383749;
}


first-footer{
  margin: 0;
}

.footer{
  color: #beebe9;
  padding-top: 55px;
  background-color: #110133;
}

.footer a.courses-link{
  color: white;
}

.footer a.useful-link{
  color: white;
}

.footer a:hover{
  color: #dcffcc;
  text-decoration: none;
}

.footer-text{
  color: #fff;
}

.footer-icon{
  color: #fff;
}



.time_syll_stud_Container{
  padding:120px 5px 50px;
}

.time_syll_stud_Container h1, .time_syll_stud_Container h2{
  padding: 2.5%;
  color: #0077B5;
}

@media (max-width:1300px) {
  img.csit-logo{
    width: 259px;
    height: 77px;
  }
  h1.site-title a {
      color: #5f6769;
  }
}


a:visited {
    color: #757686;
}

a:hover, a:focus, a:active {
    color: #383749;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}

/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
    display: flex !important;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #d4d7dd;
    /* background-image: -webkit-linear-gradient(65deg, #383749 50%, #ffffff  50%); */
}
//#A683E3
//#E4E9FD

@media screen and (min-width: 768px) {
    .site-header {
        background: rgba(255,255,255,.1);
    }
}

.top-header-bar {
    background: #fff;
}

/*
# Header Bar Text
--------------------------------*/
.header-bar-text,
.header-bar-email {
    padding: 11px 26px;
}

.header-bar-text .fa,
.header-bar-email .fa {
    margin-right: 12px;
    font-size: 20px;
    color: #19c880;
}

.header-bar-text p {
    margin: 0;
}

/*
# Header Bar Email
--------------------------------*/
.header-bar-email {
    padding-left: 16px;
    border-right: 1px solid #ebebeb;
}

.header-bar-email a {
    color: #383749;
    text-decoration: none;
}

/*
# Header Bar search
--------------------------------*/
.header-bar-search input[type="search"] {
    width: 280px;
    padding: 12px 26px;
    border: 0;
    line-height: 1;
    background: #f3f3f3;
    color: #383749;
}

.header-bar-search input[type="search"]::placeholder {
    color: #757686;
}

.header-bar-search input[type="search"]:focus {
    outline: none;
}

.header-bar-search button[type="submit"] {
    width: 50px;
    height: 50px;
    border: 0;
    color: #fff;
    background: #19c880;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .header-bar-search input[type="search"] {
        width: 240px;
    }
}

@media screen and (max-width: 576px) {
    .header-bar-search,
    .header-bar-menu {
        width: 100%;
    }

    .header-bar-search input[type="search"] {
        width: calc(100% - 50px);
    }
}

/*
# Header Bar Menu
--------------------------------*/
.header-bar-menu ul {
    padding: 0 16px 0 32px;
    margin: 0;
    list-style: none;
}

.header-bar-menu li a {
    position: relative;
    display: block;
    padding: 0 6px;
    color: #383749;
}

.header-bar-menu li a::after {
    content: '/';
    position: absolute;
    top: 50%;
    right: -3px;
    width: 6px;
    margin-top: -12px;
}

.header-bar-menu li:nth-last-of-type(1) a::after {
    display: none;
}

/*
# Nav Bar
--------------------------------*/
nav.navbar{
  position: fixed;
  width: 100%;
  z-index: 9;
}

/*
# Site Branding
--------------------------------*/
.site-title {
    padding: 6px 0;
    margin: 0;
    /* margin-left: 40px; */
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    text-align: left !important;
}

.site-title a {
    color: #fff;
    text-decoration: none;
}

.site-title a span {
    color: #c70d3a;
}



/*
# Main Menu
--------------------------------*/
.site-navigation ul {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: calc(100% - 120px);
    height: 100%;
    overflow-x: scroll;
    padding: 30px 15px;
    background: rgba(0,0,0,.9);
    transition: all 0.35s;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul li a {
    display: block;
    padding: 12px 26px;
    /* color: #19c880; */
    color: #c70d3a;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    /* color: #19c880; */
    color: #fff;
    font-weight: bold;
}

.site-navigation ul li a:hover{
  /* background-color: #d2fafb; */
  background-color: #454553aa;
  color: #fff;
}

/*
# Menu SHopping Cart
--------------------------------*/
.header-bar-cart {
    margin-left: 40px;
}

.header-bar-cart a {
    width: 48px;
    height: 100%;
}

.header-bar-cart a {
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


.hero-content-overlay {
    background: rgba(21,20,33,.5);
}

.hero-content-wrap{
    height: 930px;
    padding-top: 10%;
}

.hero-content-wrap h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #19c880;
    letter-spacing: 0.1em;
}

.hero-content-wrap h1 {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 576px){
    .hero-content-wrap h1 {
        font-size: 32px;
    }
}

.hero-content-wrap p {
    margin-top: 8px;
    color: #fff;
}

.hero-content-wrap .read-more {
    margin-top: 40px;
}

.hero-content-wrap .read-more a {
    display: block;
    padding: 12px 40px;
    border: 2px solid #19c880;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.hero-content-wrap .read-more a:hover {
    background: #19c880;
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
/*
# Icon Box
--------------------------------*/
.icon-boxes {
    border-bottom: 1px solid #ebebeb;
}

.icon-boxes h2{
  color: #0077B5;
}


.icon-box {
    width: 25%;
    padding: 50px 60px 50px;
    border-right: 1px solid #ebebeb;
    text-align: center;
}

@media screen and (max-width: 1440px){
    .icon-box {
        padding: 40px;
    }
}

@media screen and (max-width: 992px) {
    .icon-box {
        width: 50%;
    }

    .icon-box:nth-of-type(2) {
        border-right: 0;
    }

    .icon-box:nth-of-type(1),
    .icon-box:nth-of-type(2) {
        border-bottom: 1px solid #ebebeb;
    }
}

@media screen and (max-width: 576px) {
    .icon-box {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #ebebeb;
    }
}

.icon-box:nth-last-of-type(1) {
    border-right: 0;
}

.icon-box .icon {
    font-size: 42px;
    color: #19c880;
}

.icon-box .entry-title {
    margin-top: 12px;
    font-size: 22px;
}

.icon-box .entry-content p {
    margin: 12px 0;
    color: #757686;
    line-height: 1.6;
}

.icon-box .read-more a {
    position: relative;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #19c880;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.icon-box .read-more a .fa {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all .35s;
}

.icon-box:hover .read-more a .fa {
    left: 100%;
}


a.btn {
    padding: 16px 48px;
    border: 2px solid #34d986;
    border-radius: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #383749;
    text-decoration: none;
}

a.btn:hover {
    color: #fff;
    background: #34d986;
}




.
